label {
  opacity: 1;
}
p {
  font-weight: 200;
  font-size: 0.9em;
  color: #000;
}
.input-group-addon {
  box-shadow: none;
}
.radio-inline {
  font-size: inherit;
}
.c-gray {
  color: #000!important;
  opacity: 0.8;
  font-weight: 400;
  font-size: 1.2em;
}
#carousel-example-generic img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  right: 0;
  top: 0;
}
.tab-content > .tab-pane {
  padding-left: 10%;
  padding-right: 10%;
}
.disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
td.disabled{
  opacity: 0.1;
  cursor: not-allowed;
}
#wheel{
  border-radius: 400px;
  height: 400px;
  width: 53%;
  box-shadow: 3px 3px 5px rgba(66, 66, 66, 0.64);
}
.radio_button{
  opacity: 0;
}
#choosetype{
  text-align: center;
  margin-top: 20px;
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 350px;
  /* border: 1px solid red; */
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0px 0px 2px 2px rgba(199, 199, 199, 0.43);
}
li{
  list-style: none;
}
#guidelines{
  padding-left:60px;
}
th.disabled{
  opacity: 1;
}
@media(max-width: 700px){
  .container{
    padding-left: 0px;
  }
  #choosetype{
    width: 330px;
  }
  #guidelines{
    padding-left:0px;
  }
}

.radio-height {
  height: 40px;
}
.input-group-addon:first-child {
  border: 0px;
}
.card-body {
  padding-top: 2em !important;
}

.picker-switch {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
th.prev.disabled, th.next.disabled {
  opacity: 1 !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
}
th.next, th.prev {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
td.day {
  background-color: #fff !important;
}
td.day.disabled, td.day.old.disabled {
  opacity: 0.6 !important;
  background-color: #fff !important;
}
th.dow {
  background-color: rgba(0, 0, 0, 1) !important;
}
span.month.active, span.year.active  {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: none !important;
  border: 0px;
}
.fullHouseOptions > div:hover {
  background-color: #fafafa80;
}

.CalendarDay__blocked_out_of_range, .CalendarDay__blocked_out_of_range:active, .CalendarDay__blocked_out_of_range:hover {
  background: #cacccd;
  border: 1px solid #cacccd;
  color: #82888a;
}

input[type=radio][disabled] {
  cursor: not-allowed;
  visibility: hidden;
}
@media (max-width: 600px) {
  .radio-inline {
    font-size: 1em !important;
  }
  p > span {
    font-size: 1em !important;
  }
  .input-helper-mobile-margin-right5percent {
    margin-right: 5%;
  }
}

.input-helper-margin-right6_5percent {
  margin-right: 6%;
}